# requirements.txt
# Core ML & Deep Learning
tensorflow
keras
scikit-learn

# Computer Vision
opencv-python-headless
mediapipe
fer

# Data Handling
numpy
pandas

# Visualization (optional, for debugging/training analysis)
matplotlib
seaborn

# Streamlit Interface
streamlit

# Text Processing & NLP
nltk
transformers
torch
sentencepiece

# Utility
tqdm==4.66.1
protobuf==4.24.3
Pillow==10.1.0
